* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #222;
}

.card {
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  border-radius: 10px;
  padding: 40px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 20px;
  height: 50px;
  border-radius: 30px;
  margin-right: 16px;
  font-size: 18px;
  flex: 1;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search img {
  width: 16px;
}

.weather-icon {
  width: 170px;
  margin-top: 20px;
}

.weather h1 {
  font-size: 50px;
  font-weight: 500;
}

.weather h2 {
  font-size: 40px;
  font-weight: 500;
}

.details {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col {
  display: flex;
}

.col img {
  width: 40px;
}
